body {
    margin: 0;
    background: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(25% - 200px);
  }

  .hide {
    display: none;
  }

  header {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 5vh;
    color: white;
  }

  nav a {
    padding-right: 15px;
    font-size: 30px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .container>div { /* Sólo los Div que son hijos directos */
    width: 50%;
  }

  .estadisticas {
    border-left: 1px solid #2c3e50;
    padding: 50px;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 5vh; 
    color: white;
  }

  footer>div {
    margin: 0 15px;
  }